* {
	font-family: Guardian, Helvetica, Verdana, Geneva;
	color: #606060;
}

body {
	background-image: url("img/desktop_cards.jpg");
	background-size: cover;
}

.stBtn {
	position: relative;
	left: 43%;
	top: 360px;
}


button, .subbut {
	background-color: #0A76D0;
	color: white;
	font-size: 16px;
	padding: 10px 24px;
	border-radius: 4px;
	margin-bottom: 5px;
}

/* Wrapper Box*/
.wrapper {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

/*Modal Box Content*/
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid black;
	width: 60%;
	height: 60%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
  	-webkit-animation-duration: 0.4s;
  	animation-name: animatetop;
  	animation-duration: 0.4s;
}

/*Animation modal*/
@-webkit-keyframes animatetop {
	from {top:-300px; opacity: 0}
	to {top:0; opacity: 1}
}

@keyframes animatetop {
	from {top:-300px; opacity: 0}
	to {top:0; opacity: 1}
}

/* Modal Headerpadding: 2px 10px;*/
.modal-header {
	background-color: #F7F8FA;
	padding: 2px 10px;
}

/*Close Button*/
.close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: grey;
	text-decoration: none;
	cursor: pointer;
}

/*Card asking Q*/
.infoQ {
	padding-left: 32px;
	padding-right: 32px;
}

div#modalwrapper div#infoQ div.infoqbut {
	margin-left: 40px !important;
}

/* Modal Body (Q&A)*/
.slideshow-container {
	padding: 2px 16px;
}

/*Modal-Footer*/
.modal-footer {
	position: absolute;
	bottom: 0;
	padding: 2px 16px;
	width: 96%;
	background-color: #F7F8FA;
}

/*prev and next button*/
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 8px;
	margin-top: -22px;
	margin-right: 16px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/*Positioning next and prev*/
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4);
  color: white;
}

/*Q&A Styling*/
.myQ {
	padding-left: 32px;
	padding-right: 32px;
}

/*Answer Text*/
.ans { 
	display: block;
	font-size: 18px;
	padding-left: 16px;
}

.subbut {
	float: right;
}

.botlink {
	float: right;
	text-decoration: none;
	padding: 10px 24px;
}

/* The dots/bullets/indicators */

.dots {
	margin-top: 5px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*Answer Box*/
.cardimg {
	float: left;
	padding: 16px;
	padding-top: 30px;
	margin-right: 16px;
	margin-bottom: 80px;
	margin-top: 20px;
}

.anstext {
	padding: 16px;
}

.cardlink {
	text-decoration: none;
	padding: 10px 24px;
}

p {
	font-size: 16px;
	padding-left: 16px;
}

/*.alist {
	font-size: 16px;
}*/

ul.a {
	font-size: 16px;
	padding-left: 30px;
	list-style-type: circle;
	list-style-position: inside;
}

li {
	margin-left: 50px;
}